*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img{
	max-width: 100%;
}


body {
	font-family: 'Lato', sans-serif;
}

.header {
	margin: 20px 30px;
}

.header > .header-btn{
	font-size: 30px;
	color: gray;
	cursor: pointer;
	margin-bottom: 50px;
}

.hero {
	margin: 0 30px;
}

h3 {
	color:#ec5242;
}

.hero-title--bold, .light {
	line-height: 35px;
	background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
	background-size: cover;
	background-clip: text ;
	-webkit-background-clip: text;
	color: transparent ;
}

.center {
	text-align: center;
}

.light {
	font-size: 25px;
	font-weight: 400;
	line-height: 36px;
}

.hero-title--bold {
	font-size: 37px;
	font-family: 'Cocogoose', sans-serif;
	margin-bottom: 40px;
}

.hero-desc{
	font-size: 15px;
	color: gray;
	line-height: 25px;
	margin-bottom: 30px;
}

.hero-bottom > .hero-date {
	font-size: 27px;
	font-family: 'Cocogoose', sans-serif;
	color: #5f5f5f;
	letter-spacing: 0.03em;
}

.hero-bottom > .hero-venue {
	font-size: 18px;
	color: rgb(83, 83, 83);
	line-height: 23px;
	margin-bottom: 50px;
}

.hero-contacts {
	margin-top: 40px;
	margin-bottom: 40px;
}

.hero-contacts > .content {
	font-size: 13px;
	line-height: 16px;
	color: #313131;
}

.program {
	background-color: #292d33;
	color: #fff;
}

title.box{
	width: 50%;
}

.program-box {
	margin: 20px;
}

.program-box-title {
	text-align: center;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 20px;
	line-height: 1.5;
	position: relative;
}

.line, .dash {
	height: 2px;
	width: 17px;
	background-color: orange;
	margin: 0 auto 30px;
}

.program-card{
	background-color: rgba(128, 128, 128, 0.6);
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.program-box > .program-card + .program-card {
	margin-top: 15px;
}

.program-card > .icon {
	font-size: 34px;
	flex-basis: 1;
}

.program-card > p {
	font-size: 14px;
}

.program-card > .content {
	width: 60%;
}

.about-logo {
	margin: 0 30px;
}

.about-title {
	font-size: 22px;
}

.about-logo--desc {
	font-size: 12px;
	line-height: 16px;
	color: #272a31;
	margin-top: 10px;
}

.about-logo > img {
	height: 250px;
	margin-top: 15px;
	margin-bottom: 40px;
}

.past {
	margin: 0 30px;
}

.heroDesc {
	font-size: 12px;
	line-height: 20px;
	color: #272a31;
}

.image-box {
	margin: 20px 0;
}

.image-box > * + * {
	margin-top: 30px;
}

.box-1 {
	background-image: url('./images/fredrick-tendong-HVYepJYeHdQ-unsplash.jpg');
}

.box-2 {
	background-image: url('./images/florian-olivo-Mf23RF8xArY-unsplash.jpg');
}

.box-1, .box-2 {
	position: relative;
	height: 180px;
	background-position: center center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(236, 82, 66, 0.2);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.content > p {
	font-size: 14px;
}

.program-card > .title {
	text-align: center;
	color: #ec5242 ;
}

.program-box > .btn-container{
	width: 100%;
	text-align: center;
}

.btn-container > button {
	padding: 20px 30px;
	border: none;
	color: #fff;
	background: #ec5242;
	margin: 30px 0;
	font-weight: 700;
}

.speaker-container {
	margin: 37px 30px;
}

.speaker-box > * + * {
	margin-top: 20px;
}

.speaker-content {
	display: flex;
	align-items: center;
}

.speaker-content > * + * {
	margin-left: 15px;
}

.speaker-content > img {
	height: 100px;
	position: relative;
}

.speaker-content > .small-card {
	position: absolute;
	height: 60px;
	width: 60px;
	background-color: #2b2b2b;
	transform: translateY(-35px);
}

.speaker-desc > .speaker-name {
	font-size: 18px;
	color: #2b2b2b;
	font-weight: 700;
	line-height: 27px;
}

.speaker-desc > .speaker-origin {
	font-size: 12px;
	font-style: italic;
	line-height: 15px;
	color: #ec5242;
}

.speaker-desc > .speaker-bio {
	font-size: 11px;
	color: #2b2b2b;
}

.footer-partners {
	background-color: #272a31;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-partners > .footer-title {
	color: #fff;
	margin-top: 20px;
}

.footer-partners > .icons {
	margin: 30px;
}

.footer-partners > .icons > i {
	font-size: 65px;
	color: #5f5f5f;
}

.footer-partners > .icons > i + i {
	margin-left: 20px;
	margin-top: 15px;
}

.footer-copyright {
	display: flex;
	align-items: center;
	width: 95%;
	justify-content: space-between;
	margin: 20px auto;
}

.footer-copyright > * + * {
	margin-left: 30px;
}

.footer-copyright > .footer-logo > img {
	height: 110px;
}

.footer-copyright > .copyright {
	width: 50%;
	font-size: 12px;
	color: #5f5f5f;
}

